# Target Environment: 'dev' or 'stg' (Defaults to 'dev')
ENV=dev

# DEV Configuration
DEV_BASE_URL=https://apis-dev.api360.sa/portaldev/api
DEV_USER_REFRESH_TOKEN=
DEV_ADMIN_REFRESH_TOKEN=

# STAGING Configuration
STG_BASE_URL=https://apis-stg.api360.sa/portalstg/api/
STG_USER_REFRESH_TOKEN=
STG_ADMIN_REFRESH_TOKEN=

